# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Database
*.db
database/farmacia.db

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ngrok
ngrok.log
ngrok_error.log

# Node
node_modules/
